.switch-label {
  display: block;
  position: relative;
  width: 40px;
  height: 20px;
}

.switch-label input {
  display: none;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.switch-slider:before {
  position: absolute;
  display: block;
  left: 0.5px;
  bottom: 0.5px;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
  content: '';
}

.switch-label input:checked + .switch-slider {
  background-color: #2196f3;
}

.switch-label input:checked + .switch-slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
