@import '../../../App.scss';

.form-control {
  height: 50px;
  width: auto;
  background-color: var(--sa-bright);
  border: 1px solid var(--sa-dark);

  @include screen(mobile) {
    width: 100%;
  }

  &:focus {
    outline: none;
    border-color: var(--sa-primary-500-base);
  }
}

.full-select {
  margin-bottom: var(--sp-base);

  & .title {
    font-weight: var(--fw-bold);
    color: var(--sa-primary-500-base);
    margin-left: 0 !important;
  }

  & .form-control {
    color: var(--sa-primary-950);
    border-color: var(--sa-primary-950);
  }
}

.dark-theme {
  & .form-control {
    background-color: var(--sa-dark);
  }
}
