@import '../../../App.scss';

.form-control {
  height: 50px;
  width: auto;
  background-color: var(--white);
  border: 1px solid var(--sa-dark);

  @include screen(mobile) {
    width: 100%;
  }

  &:focus {
    outline: none;
    border-color: var(--primary);
  }
}

.title {
  font-weight: var(--bold);
}

.description {
  font-size: var(--fs-small);
  color: var(--sa-primary-300) !important;
}
