@import '../../../App.scss';

.form-control {
  height: 50px;
  width: auto;
  background-color: map-get($colors, --white);
  border: 1px solid map-get($colors, --sa-dark);

  @include screen(mobile) {
    width: 100%;
  }

  &:focus {
    outline: none;
    border-color: map-get($colors, --primary);
  }
}

.title {
  font-weight: map-get($fw, --bold);
}

.description {
  font-size: var(--fs-sm);
  color: map-get($colors, --sa-gray-100) !important;
}
