@import '../../../App.scss';

.card {
  padding: var(--sp-base) var(--sp-lg);
  margin-bottom: var(--sp-sm);
  position: relative;

  & .message-text {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%) translateY(-50%);
  }

  & .card__title {
    color: var(--sa-primary-500-base);
    margin-bottom: var(--sp-sm);
  }

  & .card__time {
    width: 25% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--sp-xxs);

    & .card__time-line {
      width: 2px;
      height: 16px;
      background-color: var(--sa-primary-500-base);
    }
  }
}
