.event-card {
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: var(--br-base);
  display: flex;
  align-items: center;
  position: relative;

  & .options-box {
    position: absolute;
    top: var(--sp-base);
    right: 2.5rem;
    z-index: 100;
  }

  & .event-card__options {
    background-color: var(--sa-bright);
    padding: var(--sp-sm);
    border-radius: var(--br-base);
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
  }

  & .event-card__title {
    padding: var(--p-sm) var(--p-md);
    font-weight: bold;
    flex-shrink: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  & .event-card__bar {
    height: 100%;
    min-height: 44px;
  }

  & .event-card__details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  & .event-card__location,
  & .event-card__priority,
  & .event-card__status {
    padding: 0 var(--p-md);
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  & .event-card__status {
    margin-top: var(--sp-xs);
  }

  & .event-card__priority {
    margin-top: var(--sp-xs);
    display: flex;
    align-items: center;
    gap: var(--sp-xs);
  }
}
