.big-icon svg {
    transform: scale(6);

    & path {
        fill: var(--sa-primary-200);
    }
}

.prio-icon {
    padding: 4px;
    border: 1.5px solid var(--sa-primary-950);
    border-radius: var(--br-full);
    display: inline-block;
}
