@import '../../../App.scss';

.button-main {
  border: none;
  border-radius: var(--sm);
  cursor: pointer;
  height: 60px;
  transition:
    border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &:disabled {
    background-color: var(--sa-bright);
    border: 1px solid var(--sa-dark);
    color: var(--sa-dark);

    &:hover {
      background-color: var(--sa-bright);
      border: 1px solid var(--sa-dark);
      color: var(--sa-dark);
    }
  }
}

.button-default {
  &:hover {
    background-color: var(--sa-primary-100);
    color: var(--sa-dark);
  }
}

.button-danger {
  &:hover {
    background-color: var(--sa-error-100);
    color: var(--sa-dark);
  }
}

.button-danger-outline {
  &:hover {
    border-color: var(--sa-error-100);
    color: var(--sa-error-100);
  }
}

.button-default-outline {
  &:hover {
    border-color: var(--sa-primary-100);
    color: var(--sa-primary-100);
  }
}

.button-icon {
  margin-right: var(--space-xs);
  display: flex;
  align-items: center;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.button-small {
  height: 40px;
  padding: var(--space-xs) var(--space-sm);
}
