@import '../../../App.css';

.button-main {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  height: 60px;
  padding: 7px 14px;
  font-weight: 700;
  transition:
    border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &:disabled {
    background-color: #d2d5db;
    border: 1px solid #d2d5db;
    color: #535a60;

    &:hover {
      background-color: #d2d5db;
      border: 1px solid #d2d5db;
      color: #535a60;
    }
  }
}

.button-default {
  background-color: $main-color;
  color: white;
  border: 1px solid $main-color;

  &:hover {
    background-color: darken($main-color, 10%);
    border-color: darken($main-color, 10%);
  }
}

.button-danger {
  background-color: $danger-color;
  color: white;
  border: 1px solid $danger-color;

  &:hover {
    background-color: darken($danger-color, 10%);
    border-color: darken($danger-color, 10%);
  }
}

.button-danger-outline {
  background-color: white;
  color: $danger-color;
  border: 1px solid $danger-color;

  &:hover {
    background-color: darken($danger-color, 10%);
    border-color: darken($danger-color, 10%);
    color: white;
  }
}

.button-default-outline {
  background-color: white;
  color: $main-color;
  border: 1px solid $main-color;

  &:hover {
    background-color: darken($main-color, 10%);
    border-color: darken($main-color, 10%);
    color: white;
  }
}

.button-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.button-small {
  height: 40px;
  padding: 7px 14px;
}

@screen tablet {
  .button-main {
    font-size: smaller;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
/* TODO: fix duplicated code */
@screen desktop {
  .button-main {
    font-size: smaller;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
