@import '../../../App.scss';

.btn {
  padding: var(--p-xs) var(--p-lg) !important;
  border-radius: var(--br-base) !important;
  display: inline-block;
  transition: all 0.2s ease-in-out;

  &.btn--primary {
    color: var(--sa-bright);
    background-color: var(--sa-primary-500-base);

    &:hover,
    &:focus {
      color: var(--sa-bright);
      background-color: var(--sa-primary-700);
    }
  }

  &.btn--bordered-primary {
    font-weight: var(--fw-bold);
    color: var(--sa-primary-500-base);
    border: 1px solid var(--sa-primary-500-base);

    &:hover,
    &:focus {
      color: var(--sa-primary-500-base);
      background-color: var(--sa-primary-200);
    }
  }

  &.btn--success {
    font-weight: var(--fw-bold);
    color: var(--sa-bright);
    background-color: var(--sa-success-500-base);

    &:hover,
    &:focus {
      color: var(--sa-bright);
      background-color: var(--sa-success-600);
    }
  }

  &.btn--bordered-success {
    font-weight: var(--fw-bold);
    color: var(--sa-success-500-base);
    border: 1px solid var(--sa-success-500-base);

    &:hover,
    &:focus {
      color: var(--sa-success-500-base);
      background-color: var(--sa-success-100);
    }
  }

  &.btn--danger {
    color: var(--sa-bright);
    background-color: var(--sa-error-500-base);

    &:hover,
    &:focus {
      color: var(--sa-bright);
      background-color: var(--sa-error-700);
    }
  }

  &.btn--bordered-danger {
    font-weight: var(--fw-bold);
    color: var(--sa-error-500-base);
    border: 1px solid var(--sa-error-500-base);

    &:hover,
    &:focus {
      color: var(--sa-error-500-base);
      background-color: var(--sa-error-100);
    }
  }

  &.btn--bordered {
    color: var(--sa-primary-950);
    border: 1.5px solid var(--sa-primary-950);

    &:hover,
    &:focus {
      border: 1.5px solid var(--sa-primary-950);
    }
  }

  &.btn--icon {
    display: flex;
    align-items: center;
    gap: var(--sp-xxs);

    & .btn__icon {
      display: block;
      transform: scale(0.6);
    }
  }

  & .btn__text {
    color: var(--sa-primary-950);
  }
}
