@import '../../../App.css';

.button-main {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: black;
  height: 60px;
  border: 2px solid black;
  padding: 7px 14px;
  font-weight: 700;
  transition:
    border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &:disabled {
    background-color: #d2dbd8;
    border: 1px solid #d2d5db;
    color: #535a60;

    &:hover {
      background-color: #d2d5db;
      border: 1px solid #d2d5db;
      color: #535a60;
    }
  }
}

.button-default {
  background-color: gray;
  color: white;
  border: 1px solid gray;

  &:hover {
    background-color: #333;
    border-color: #333;
  }
}

.button-danger {
  background-color: red; /* Change to desired color */
  color: white;
  border: 1px solid red; /* Change to desired color */

  &:hover {
    background-color: #cc0000; /* Change to desired color */
    border-color: #cc0000; /* Change to desired color */
  }
}

.button-danger-outline {
  background-color: white;
  color: red; /* Change to desired color */
  border: 1px solid red; /* Change to desired color */

  &:hover {
    background-color: #cc0000; /* Change to desired color */
    border-color: #cc0000; /* Change to desired color */
    color: white;
  }
}

.button-default-outline {
  background-color: white;
  color: gray; /* Change to desired color */
  border: 1px solid gray; /* Change to desired color */

  &:hover {
    background-color: #333; /* Change to desired color */
    border-color: #333; /* Change to desired color */
    color: white;
  }
}

.button-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.button-small {
  height: 40px;
  padding: 7px 14px;
}

@screen tablet {
  .button-main {
    font-size: smaller;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@screen desktop {
  .button-main {
    font-size: smaller;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
