.modal {
  & .modal-dialog {
    height: 100%;
    display: flex;
    align-items: center;
  }

  & .modal__heading {
    padding: var(--sp-lg) var(--sp-base) var(--sp-base) var(--sp-base);
    position: relative;

    & .modal__close-btn {
      position: absolute;
      top: var(--sp-sm);
      right: var(--sp-sm);
      transform: rotate(45deg);
      opacity: 30%;
    }
  }

  & .modal__body {
    padding: var(--sp-base) var(--sp-base) calc(var(--sp-lg) + .5rem) var(--sp-base);

    & form > div:first-child {
      margin-top: -0.5rem;
    }
  }
}
