@import '../../../App.scss';

.form-control {
  height: 60px;
  border-radius: 7px;
  border: 1px solid #d2d5db;

  &:focus {
    outline: none;
    border-color: #64748b;
  }

  & .select-option {
    color: black;
  }

  &.small {
    height: 40px !important;
  }

  &.textarea {
    height: 150px;
    border-radius: 7px;
    border: 1px solid #d2d5db;
  }
}

.disabled {
  background-color: #d2d5db;
  color: #64748b;
  cursor: not-allowed;
  opacity: 0.5;
}

.title {
  color: black;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.input-with-icon {
  position: relative;
}

.input-with-icon input {
  padding-right: 30px;
}

.input-icon {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
