@import '../../../App.scss';

.form-control {
  height: 50px;
  border: 1px solid var(--sa-primary-100);
  border-radius: var(--br-base);

  &:focus {
    outline: none;
    border-color: var(--sa-primary-200);
  }

  & .select-option {
    color: var(--sa-dark);
  }

  &.small {
    height: 40px !important;
  }

  &.textarea {
    height: 150px;
    border-radius: var(--br-base);
    border: 1px solid var(--sa-primary-100);
  }
}

.disabled {
  background-color: var(--sa-primary-100);
  color: var(--sa-primary-200);
  cursor: not-allowed;
  opacity: 0.5;
}

.full-input {
  &.input--focused .title {
    font-size: 0.938rem;
    font-weight: var(--fw-regular);
    color: var(--sa-primary-200);
    transform: translateX(-20%) translateY(-50%);
  }

  & .title {
    background-color: var(--sa-bright);
    position: relative;
    z-index: 50;
    transition: all .2s ease-in-out;
    transform: translateX(30%) translateY(50%);
  }
}

.title {
  color: var(--sa-dark);
  font-size: 16px;
  font-weight: 700;
  padding: 0 var(--p-lg);
}

.input-with-icon {
  position: relative;
}

.input-with-icon input {
  padding-right: 30px;
}

.input-icon {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.search-bar {
    & .search-bar__input {
        max-width: 100%;
        color: var(--sa-primary-950);
        background-color: var(--sa-primary-100);
        padding: var(--p-sm) var(--p-lg);
        border: none;
        border-radius: var(--br-base);

        &::placeholder {
            color: var(--sa-primary-400);
        }
    }
}
