@import '../node_modules/bootstrap/scss/bootstrap.scss';

:root {
  /* Colors */
  --sa-primary-100: hsla(219, 100%, 96%, 100);
  --sa-primary-200: hsla(219, 100%, 87%, 100);
  --sa-primary-300: hsla(217, 100%, 78%, 100);
  --sa-primary-400: hsla(219, 100%, 67%, 100);
  --sa-primary-500-base: hsla(223, 100%, 63%, 100);
  --sa-primary-700: hsla(230, 84%, 48%, 100);
  --sa-primary-950: hsla(233, 63%, 21%, 100);
  --sa-success-100: hsla(147, 84%, 90%, 100);
  --sa-success-300: hsla(153, 76%, 67%, 100);
  --sa-success-500-base: hsla(156, 88%, 42%, 100);
  --sa-success-600: hsla(158, 100%, 30%, 100);
  --sa-error-100: hsla(6, 100%, 94%, 100);
  --sa-error-300: hsla(5, 98%, 82%, 100);
  --sa-error-500-base: hsla(5, 88%, 57%, 100);
  --sa-error-700: hsla(5, 77%, 42%, 100);
  --sa-bright: hsla(0, 0%, 100%, 100);
  --sa-grey: hsla(231, 36%, 83%, 100);
  --sa-dark: hsla(240, 3%, 12%, 100);

  /* Font weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  /* Border radius */
  --br-base: 0.5rem;
  --br-lg: 1rem;
  --br-full: 9999px;

  /* Padding */
  --p-xxs: 0.25rem;
  --p-xs: 0.563rem;
  --p-sm: 0.625rem;
  --p-md: 0.75rem;
  --p-lg: 1.125rem;

  /* Spacing */
  --sp-xxs: 0.4rem;
  --sp-xs: 0.5rem;
  --sp-sm: 1rem;
  --sp-base: 1.5rem;
  --sp-lg: 2rem;
  --sp-xl: 3.6rem;
}

/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
  :root {
    --fs-small: clamp(0.813rem, 0.34vi + 0.71rem, 0.813rem);
    --fs-read: clamp(0.875rem, 0.34vi + 0.91rem, 0.938rem);
    --fs-head-sm: clamp(0.875rem, 0.32vi + 1.17rem, 1rem);
    --fs-head-md: clamp(1.125rem, 0.27vi + 1.5rem, 1.625rem);
    --fs-head-lg: clamp(1.75rem, 0.18vi + 1.91rem, 2.25rem);
  }
}

/* For browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
  :root {
    --fs-small: 0.813rem;
    --fs-read: 0.875rem;
    --fs-head-sm: 0.875rem;
    --fs-head-md: 1.125rem;
    --fs-head-lg: 1.75rem;
  }

  @media screen and (min-width: 1280px) {
    :root {
      --fs-sm: 0.99rem;
      --fs-base: 1.19rem;
      --fs-md: 1.43rem;
      --fs-lg: 1.71rem;
      --fs-xl: 2.05rem;
      --fs-xxl: 2.46rem;
      --fs-xxxl: 2.95rem;
    }
  }
}

/* Fonts loading */

/* The @font-face rule does not support var(). 
You need to directly use the values instead of CSS variables.  */
@font-face {
  font-family: 'Rubik';
  src:
    url('/fonts/rubik-regular.woff2') format('woff2'),
    url('/fonts/rubik-regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Rubik';
  src:
    url('/fonts/rubik-bold.woff2') format('woff2'),
    url('/fonts/rubik-bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

/* Similarly for Lato */
@font-face {
  font-family: 'Lato';
  src:
    url('/fonts/lato-light.woff2') format('woff2'),
    url('/fonts/lato-light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Lato';
  src:
    url('/fonts/lato-regular.woff2') format('woff2'),
    url('/fonts/lato-regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src:
    url('/fonts/lato-bold.woff2') format('woff2'),
    url('/fonts/lato-bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: var(--fs-base);
  color: var(--sa-primary-950);
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif !important;
  margin: 0;
}

h1 {
  font-family: 'Rubik';
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  line-height: 1.1;
}

h2 {
  font-family: 'Rubik';
  font-size: var(--fs-h2);
  font-weight: var(--fw-regular);
  color: var(--sa-primary-500);
  line-height: 1.4;
}

// mixins
$monitor: '(min-width: 1201px)';
$desktop: '(min-width: 1024px)';
$tablet: '(min-width: 768px) and (max-width: 1023px)';
$mobile: '(max-width: 767px)';

@mixin screen($sizes...) {
  @each $size in $sizes {
    @if $size == monitors {
      @media only screen and #{$monitor} {
        @content;
      }
    } @else if $size == desktop {
      @media only screen and #{$desktop} {
        @content;
      }
    } @else if $size == tablet {
      @media only screen and #{$tablet} {
        @content;
      }
    } @else if $size == mobile {
      @media only screen and #{$mobile} {
        @content;
      }
    } @else {
      @media only screen and #{$size} {
        @content;
      }
    }
  }
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Basic configuration */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span {
  display: block;
}

button {
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

/* Screen reader classes */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

/* Some general classes */
.heading {
  &.heading--sm {
    font-family: 'Lato', sans-serif !important;
    font-size: var(--fs-head-sm);
    font-weight: var(--fw-bold);
  }

  &.heading--md {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-head-md);
    font-style: normal;
    font-weight: var(--bold);
  }

  &.heading--lg {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-head-lg);
  }
}

.small-text {
  font-size: 15px;
  color: var(--sa-error-200);
}

.highlight {
  font-weight: var(--fw-bold);
}

.my-sm {
  margin-top: var(--sp-sm);
  margin-bottom: var(--sp-sm);
}

.mt-xsmall {
  margin-top: var(--sp-xs);
}

.mt-large {
  margin-top: var(--sp-lg);
}

.mb-small {
  margin-bottom: var(--sp-xs);
}

.mb-small-neg {
  margin-bottom: calc(var(--sp-xs) * -1);
}

.mb-base {
  margin-bottom: var(--sp-base);
}

.mb-large {
  margin-bottom: var(--sp-lg);
}

.mb-xlarge {
  margin-bottom: var(--sp-xl);
}

.clr-primary {
  color: var(--sa-primary-500-base);
}

.clr-primary-400 {
  color: var(--sa-primary-400);
}

.clr-primary-300 {
  color: var(--sa-primary-300);
}

.gap-base {
  gap: var(--sp-sm);
}

.settings-block > div:last-child {
  margin-bottom: var(--sp-sm);
}

.notifications-top {
  border-bottom: 1px solid var(--sa-primary-200);
}

.ps-menu-label {
  margin-top: 3px;
}

/* Some specific classes */
.create-calendar {
  &:hover .ps-menu-icon {
    background-color: var(--sa-primary-400);

    & path {
      fill: var(--sa-bright);
    }
  }

  & .ps-menu-icon {
    min-width: 4rem;
    max-width: 4rem;
    height: 66px;
    border: 1px solid var(--sa-primary-400);
    border-top-left-radius: var(--br-lg);
    border-bottom-left-radius: var(--br-lg);
    transition: all 0.2s ease-in-out;

    & svg {
      margin-top: -5px;
    }
  }

  & .ps-menu-label {
    padding: var(--p-lg) var(--p-lg);
    margin: 0;
  }
}

.bg-primary-light {
  background-color: var(--sa-primary-200);
}

.line-1 {
  width: 100%;
  height: 1px;
  background-color: var(--sa-primary-950);
}

.transl-50 {
  transform: translateY(45%);
}

// Swich component bug fix (temporary )

.switch {
  height: 50px;
  width: auto;
  background-color: var(--sa-bright);
  margin-bottom: var(--sp-base);
}

.switch-label {
  position: relative;
  width: 40px;
  height: 25px;
}

.switch-label input {
  display: none;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--sa-primary-300);
  border-radius: var(--br-full);
  transition: 0.4s;
}

.switch-slider:before {
  position: absolute;
  display: block;
  left: 3px;
  bottom: 2px;
  width: 20px;
  height: 20px;
  background-color: var(--sa-bright);
  border-radius: var(--br-full);
  transition: 0.4s;
  content: '';
}

.switch-label input:checked + .switch-slider {
  background-color: var(--sa-primary-500-base);
}

.switch-label input:checked + .switch-slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.title {
  font-weight: var(--fw-bold);
  color: var(--sa-primary-500-base);
  margin-left: 0 !important;
  padding-left: 0 !important;
}
