@media (min-width: 992px) {
  .top-navigation,
  .container {
    padding: var(--sp-base) 150px;
  }
}

@media (max-width: 992px) {
  .top-navigation,
  .container {
    padding: var(--sp-base) 50px;
  }
}

@media (max-width: 576px) {
  .top-navigation,
  .container {
    padding: var(--sp-base) 20px;
  }
}

.dark-theme {
  color: var(--sa-bright);
  background: var(--sa-dark) !important;

  & .css-1de2x4g,
  & .container-fluid {
    background: none !important;
  }

  & .rbc-label {
    background-color: var(--sa-dark) !important;
  }
}
