.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &.btn--filled {
    background: var(--sa-primary-300);
    border: none;
    border-radius: var(--br-base);
    display: flex;
    align-items: center;

    & svg,
    & img {
      margin: var(--p-sm);
    }

    &:hover {
      background-color: var(--sa-dark);
    }
  }
}

.icon-button:active {
  background: none;
}
